/* CSS styles */
html {
  /* Main font sizes */
  --body-size:       1.06rem;
  --code-size:       12px;
  --aside-size:      12px;
  --fig-cap-size:    11px;
}

/* Apply font variables */
body {
  font-size: var(--body-size);
}

/* Navbar */
.navbar-brand {
  font-size: 22px !important;
  font-weight: 500;
}
